@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Yanone+Kaffeesatz&display=swap');
td{padding-bottom: 30px;
	padding-left: 100px;
	padding-right: 50px;}
body{
	background-image: url(  "papers.co-ar67-4k-sierra-apple-wallpaper-art-mountain-sunset-3840x2160.jpg");
	background-size: cover;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding-top: 50px;
}
fieldset {
background-color: #F4E5E9;
	width: 450px;
	opacity: 0.7;
	border:0px solid black;
	margin-right: 100px;
}

legend{
font-family: 'Oswald', sans-serif;
font-weight: bold;	
	font-size: 35px;
	color: #893234;
}
fieldset p{
text-align: left;
	font-weight:bold;
	font-size: 27px;
	color: black;
}

a{
	text-decoration: none;
	color: black;
}
#y{
	border-right:dashed;
	border-color: #683A45;
}
#z{
	border-right: dashed;
	border-color: #683A45;
}
#d{padding:0px;
		padding-right: 30px;
		text-decoration: overline;
	
}
#e{
	text-align: center;
	font-size: 60px;
	color: antiquewhite;
	margin-top: 10px;
	margin-bottom: 20px;
}